---
layout: base
title: Thijs Lowette
---
<h1>Thijs Lowette</h1>

<p>I'm a father, husband, friend & relative, product leader and software developer.</p>

<p>This is my nth attempt at a personal website, created in 2025. Fingers crossed it lasts this time.
For now, it's a place to share thoughts and projects. This site is built with <a href="https://www.11ty.dev/" target="_blank">11ty</a> and Cursor.</p>

<p>I'm (back) in Belgium, trying to build something fun/useful and land my next role as a product manager.</p>

<p>I lived in the US from 2020 to 2025. The last 3 years I spent between NYC and SF, being a product manager at a streaming service called <a href="https://finance.yahoo.com/news/pay-tv-bundler-philo-reveals-123443692.html" target="_blank">Philo</a>.
I was a principal solutions architect at THEO Technologies before that, expanding our US business; selling and integrating our video player with some of the biggest media companies in the world. (I joined THEO in 2015 as an early technical hire. <a href="https://news.dolby.com/en-WW/240056-theo-technologies-is-joining-dolby" target="_blank">Dolby acquired THEO</a>.)

<p>Things I did before that? <a href="https://www.youtube.com/watch?v=2aXZIxpvSio" target="_blank">Failed event room rental startup</a>, <a href="https://www.facebook.com/trissen.be/?locale=nl_NL" target="_blank">failed college platform startup</a> (although we reached 20% of the total addressable market at one point), software engineer for <a href="https://www.kuleuven.be/communicatie/congresbureau/english">a university's department</a>, <a href="https://web.archive.org/web/20061112225457/http://www.i-support.be/portfolio.php" target="_blank">web designer in my teens</a>.</p>



