---
layout: base
title: Thijs Lowette
---
<h1>Thijs Lowette</h1>

<p>I'm a product leader and software developer. I'm currently building fun/useful things in Belgium. I'm open to new work opportunities, as product manager, product engineer or co-founder.</p>

<p>I spent 2022-2025 between NYC and SF, being a product manager at a streaming service called <a href="https://finance.yahoo.com/news/pay-tv-bundler-philo-reveals-123443692.html" target="_blank">Philo</a>.
I spent 2020-2022 in NYC as a principal solutions architect at THEO Technologies, which has been acquired by <a href="https://news.dolby.com/en-WW/240056-theo-technologies-is-joining-dolby" target="_blank">Dolby</a>. 
Before that? Software engineer + solutions architect at THEO, <a href="https://www.youtube.com/watch?v=2aXZIxpvSio" target="_blank">Failed event space rental startup</a>, <a href="https://www.facebook.com/trissen.be/?locale=nl_NL" target="_blank">failed college platform startup</a>, software engineer for <a href="https://www.kuleuven.be/communicatie/congresbureau/english">a university</a>, <a href="https://web.archive.org/web/20061112225457/http://www.i-support.be/portfolio.php" target="_blank">web designer in my teens</a>.</p>

<p>I have a streaming industry blog at <a href="https://ottball.com" target="_blank">ottball.com</a>, but I'm in the process of porting them over to this site.
I occasionally speak at conferences, like <a href="https://nabstreamingsummit.com/videos/videos-2023newyork/" target="_blank">NAB</a>, <a href="https://www.streamingmedia.com/Conferences/West2022/29123-Thijs-Lowette.aspx" target="_blank">Streaming Media</a> and <a href="https://tech.ebu.ch/docs/events/broadthinking19/BroadThinking2019_bios.pdf" target="_blank">Broadthinking</a>.</p>



